.support-text {
  padding-left: 50px;
  position: relative;
  
  &:before {
    color: #dfc250;
    content: '\f0e0';
    display: block;
    font-family: FontAwesome;
    font-size: 36px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }

  color: #595e6f;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  
}


#wrapper-navbar {
  min-height:50.4px;
}



.navbar {

  .navbar-brand {
    display:none;
  }

  &.sps {
    transition: all .5s ease;
  }


  &.sps--blw {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3000;  

    & .navbar-brand {
      display: block;
    }
  }


}

